name: Test Chart

on:
  push:
    branches:
      - main
    paths:
      - 'helm/**'
      - 'CHART_VERSION'
    tags-ignore:
      - "*"
  pull_request:
    branches:
      - main
    paths:
        - 'helm/**'
        - 'CHART_VERSION'
  workflow_dispatch:

env:
  CHART_DIR: helm/chart

jobs:
  test-helm-chart:
    name: Test Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install Helm
        uses: azure/setup-helm@v3.3
        with:
          version: v3.19.0
      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Setup Chart Linting
        id: lint
        uses: helm/chart-testing-action@v2.8.0
      - name: Run chart-testing
        run: ct lint --validate-maintainers=false --charts ${{ env.CHART_DIR }}
